<button (click)="showUserForm=!showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

    <div class="form-group">
      <label>First Name</label>
      <input [(ngModel)]="user.firstName" #userFirstName="ngModel" type="text" class="form-control"
        [ngClass]="{'is-invalid':userFirstName.touched && userFirstName.errors}" name="firstName" minlength="2"
        required>
      <div class="invalid-feedback" [hidden]="!userFirstName.errors?.required">
        First name is required
      </div>
      <div class="invalid-feedback" [hidden]="!userFirstName.errors?.minlength">
        Must be atleast 2 characters
      </div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="user.lastName" #userLastName="ngModel" type="text" class="form-control"
        [ngClass]="{'is-invalid': userLastName.touched && userLastName.errors}" name="lastName" minlength="2" required>
      <div class="invalid-feedback" [hidden]="!userLastName.errors?.required">
        Last Name is required
      </div>
      <div class="invalid-feedback" [hidden]="!userLastName.errors?.minlength">
        Must be atleast 2 characters
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input [(ngModel)]="user.email" type="email" class="form-control" name="email"
        [ngClass]="{'is-invalid' : userEmail.errors && userEmail.touched}" #userEmail="ngModel"
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        required>
      <div class="invalid-feedback" [hidden]="!userEmail.errors?.required">
        Email is required
      </div>
      <div class="invalid-feedback" [hidden]="!userEmail.errors?.pattern">
        Email is not valid
      </div>
    </div>

    <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3">Add New
      User</button>
  </form>

</div>
<ul *ngIf="loaded && users?.length > 0">
  <li class="card card-body mb-2" [class.bg-light]="user.isActive" [style.border-color]="user.isActive ? 'green' : ''"
    *ngFor="let user of users">
    <!-- <img src="{{user.image}}" *ngIf="user.image" class="img-fluid" alt=""> -->
    <!-- <img bind-src="user.image" *ngIf="user.image" class="img-fluid" alt=""> -->
    <h3 [ngStyle]="currentStyles">{{user.firstName }} {{user.lastName}} <small><button class="btn btn-dark btn-sm"
          (click)="toggleHide(user)"> <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button></small></h3>
    <ul class="list-group" *ngIf="!user.hide">
      <li class="list-group-item">Email : {{user.email}}</li>
      <li class="list-group-item">Joined : {{user.registered | date:"short"}}</li>
    </ul>
  </li>
</ul>
<!-- <ng-template #noUsers><h4>No Users Found..</h4></ng-template> -->
<h3 *ngIf="users?.length == 0">No User Found..</h3>
<h3 *ngIf="!loaded">Loading Users...</h3>
